---
layout: default
---

<div class="home">

  {{ content }}

  <img src="{{ site.baseurl }}/assets/img/project_logo.jpg" alt="fast opencv background subtraction">
  <h1>The fastest opencv background subtraction</h1>
  <h3>Proudly announcing that the original code was inserted into opencv_contrib 3.3.</h3>
  <h3>Future development and improvements will happen on this private project.</h3>
  <li>
	  <a href="https://github.com/sagi-z/BackgroundSubtractorCNT/releases">Browse Releases</a>
  </li>
  <li>
	  <a href="https://github.com/sagi-z/BackgroundSubtractorCNT">View on GitHub</a>
  </li>

</div>
